<!--Index (home page)-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--display the webpage in edge mode, which is the highest standards mode supported by Internet Explorer, from Internet Explorer 6 through IE11-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- viewport is the user's visible area of the webpage. It varies with the device used. width=device-width sets the screen to follow the width of the device, and initial-scale=1.0 sets the initial zoom level-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Student Crowdfunding platform">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">

	<title>Eureka</title>

	<!-- Bootstrap core css-->
	<!--<link rel="stylesheet" href="assets/css/bootstrap.css">-->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

	<!--Custome style css -->
	<!--<link rel="stylesheet" href="assets/css/main.css">-->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

	<!-- Font-awsome file link-->
	<!--<link rel="stylesheet" href="assets/css/font-awsome.min.css">-->
	<link rel="stylesheet" href="{% static 'assets/css/font-awsome.min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,300,700">

	<!--<script src="assets/js/modernizr.custom.js"></script>-->
	<script src="{% static 'assets/js/modernizr.custom.js' %}"></script>
</head>

<body>

<!--Menu-->
<nav class="menu" id="theMenu">
	<div class="menu-wrap">
		<h1 class="logo"><a href="index.html#home">Eureka</a></h1>

		<a href="index">Home</a>
		<a href="howitworks">How it works</a>
		<a href="explore">Explore</a>
		<a href="about">About</a>
		<a href="#contact">Contact</a>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-dribbble"></i></a>
		<a href="#"><i class="fa fa-envelope"></i></a>
	</div>

	<!--Menu button-->
	<div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>

<!--Main image section-->
	<div id="headerwrap">
		<div class="cotainer">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Eureka</h1>
					<h2>We Bring Ideas to Life</h2>
					<div class="spacer"></div>
				</div>
			</div><!--row-->
		</div><!--container-->
	</div><!--headwrap-->

	<!--Welcome section-->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-8">
				<h1>Crowdfunding service for students by students</h1>
				<p>We pride ourselves on the ability to help students raise money online to achieve their dreams!</p>
				</div>
				<div class="col-lg-4">
					<p class="pull-right"><br><button type="button" class="btn btn-green">Start Your Project Now</button></p>
				</div>
			</div><!--row-->
		</div><!--/.container-->

		<!--Portfolio section-->
		<div id="portfolio">
			<div class="container">
				<div class="row mt">
					<ul class="grid effect-2" id="grid">
					<!--Find and replace with sample project images-->
					<!-- TODO Fix these using Django's template -->
						<li><a href="singleproject.html"><img src="assets/img/portfolio/1.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/1.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/3.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/4.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/12.png"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/13.png"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/10.png"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/9.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/2.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/14.png"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/5.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/6.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/7.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/6.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/9.jpg"></a></li>
						<li><a href="singleproject.html"><img src="assets/img/portfolio/11.png"></a></li>
					</ul>
	    		</div><!-- row -->
	   	 	</div><!-- container -->
   		 </div><!-- portfolio -->

   		 <!-- Services section-->
   		 <div id="services">
   		 	<div class="container">
   		 		<div class="row mt">
   		 			<div class="col-lg-1 centered">
   		 				<i class="fa fa-certificate"></i>
   		 			</div>
   		 			<div class="col-lg-3">
   		 				<h3>Simple & Easy</h3>
   		 				<p>Eureka emphasizes on simplicity, offering an easy project set up to get you started with your campaign whenever you're ready.</p>
   		 			</div>

   		 			<div class="col-lg-1 centered">
   		 				<i class="fa fa-question-circle"></i>
   		 			</div>
   		 			<div class="col-lg-3">
   		 				<h3>How it works</h3>
   		 				<p>Eureka helps students raise funds on their creative projects or independant ideas to obtain the financial support needed by providing simple ways to create online fundraising campaogns and buid a large connected network of backers and supporters. </p>
   		 			</div>

   		 			<div class="col-lg-1 centered">
   		 				<i class="fa fa-globe"></i>
   		 			</div>
   		 			<div class="col-lg-3">
   		 				<h3>Industry partnership</h3>
   		 				<p>Students are able to collaborate with external industries by marketing themselves and attracting new backers to their campaigns. Those industry partners could offer financial support as well as mentorship programs that equip the students with the knowledge needed to start a successful campaign or even take their projects to the next level.</p>
   		 			</div>
   		 		</div><!--row-->
   		 	</div><!--container-->
   		 </div><!--services section-->



   		 	<!-- RECENT PROJECTS -->
		<div class="container">
			<div class="row mt">
				<div class="col-lg-12">
					<h1>Recent Projects</h1>
				</div><!-- col-lg-12 -->
			<div class="col-lg-8">
				<p>A glimpse at some successful projects.</p>
			</div><!-- col-lg-8-->
			<div class="col-lg-4 goright">
				<p><a href="#"><i class="fa fa-angle-right"></i> Browse More Projects</a></p>
			</div>
		</div><!-- row -->

		<div class="row mt">
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/post01.jpg" alt="">
				<h3><a href="#">Self driving car</a></h3>
				<p>A self driving car developed by one of our students at Taylor's university, gained attention from leading industries globally thanks to Eureka's crowdfunding platform.</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/post02.jpg" alt="">
				<h3><a href="#">Remote controlled Quadcopter</a></h3>
				<p>A fully equipped remote controlled quadcopter developed completely by one of Taylor's engineering students in collaboration with some reputable industry individuals who helped mentor and support the student's project</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/post03.jpg" alt="">
				<h3><a href="#">Hipster stationary</a></h3>
				<p>Stationary that fits your personality. Created by a group of students from the design school in collaboration with top design and fashion corporations.</p>
				<p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
			</div>
		</div><!-- row -->
	</div><!-- container -->

			<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
					<img src="assets/img/clients/c01.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c02.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c03.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c04.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c05.gif" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->

	<!-- CALL TO ACTION -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Dream big and be an inspiration</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Bring your creative projects and ideas to life with a standing ovation and be an inspiration to everyone</p>
					<p><button type="button" class="btn btn-green btn-lg">Start Your Campaign</button></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->

	<!--social media section-->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Connect With Us</h1>
				<p>Join our social networks for the latest updates or if you would like to track a certain project.</p>
				<br>
			</div><!--col-lg-12-->
		</div><!--row-->
	</div><!--container-->


<!-- SOCIAL FOOTER -->
	<section id="contact"></section>
	<div id="sf">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 dg">
					<h4 class="ml">FACEBOOK</h4>
					<p class="centered"><a href="#"><i class="fa fa-facebook"></i></a></p>
					<p class="ml">> Become A Friend</p>
				</div>
				<div class="col-lg-4 lg">
					<h4 class="ml">TWITTER</h4>
					<p class="centered"><a href="#"><i class="fa fa-twitter"></i></a></p>
					<p class="ml">> Follow Us</p>
				</div>
				<div class="col-lg-4 dg">
					<h4 class="ml">GOOGLE +</h4>
					<p class="centered"><a href="#"><i class="fa fa-google-plus"></i></a></p>
					<p class="ml">> Add Us To Your Circle</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Social Footer -->


	<!-- CONTACT FOOTER -->
	<div id="cf">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
		        	<div id="mapwrap">
						<iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=6&amp;output=embed"></iframe>
					</div>
				</div><!--col-lg-8-->
				<div class="col-lg-4">
					<h4>ADDRESS <br/>Taylor's University - Head Office</h4>
					<br><hr>
					<p>
						Jalan Taylors, Subang Jaya<br/>
					</p>
					<p>
						Mahmoud: +6126388917<br>
						Max:	 +6198337788<br>
						Lok:	 +6124879855<br>
						<br>
						Email: <a href="mailto:#">Eureka@eurekaagency.com</a>
					</p>
				</div><!--col-lg-4-->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Contact Footer -->


	<!--Bootstrap core JavaScript -->
	<!--placed at the end of a document so the pages load faster-->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
	<script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/classie.js' %}"></script>
	<script src="{% static 'assets/js/AnimOnScroll.js' %}"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>

		</body>
</html>
