<!--single project portfolio-->
<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Eureka - Crowdfunding platform</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<title>Eureka - Crowdfunding platform</title>

	<script src="assets/js/modernizer.custom.js"></script>
</head>

<body>

	<!--Menu-->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">EUREKA</a></h1>

			<a href="index.html">Home</a>
			<a href="howitworks.html">How it works</a>
			<a href="explore.html">Explore</a>
			<a href="about.html">About</a>
			<a href="#contact">Contact</a>
			<a href="startproject.html">Create Project</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<!-- Main Project section-->
	<div id="sp">
		<div class="container">
			<div class="row">
			<!-- project initiator (student)-->
				<h2>Mahmoud Ahmed</h2>
			</div><!-- row-->
		</div><!-- container-->
	</div>

	<!--Welcome section-->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1><b>Self Driving car</b></h1>
				<p>The first ever fully automated self driving car, equipped with the latest sensor technologies. </p>
			</div>
		</div><!--row-->
	</div><!--container-->

	<!--project image-->
	<div class="container">
		<div class="row centered">
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="assets/img/spot.png" alt="Spot Theme">
			</div>
		</div><!--row-->
	</div><!--container-->

	<!--Project Description-->
	<div id="lg">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 desc">
					<h3>Project Description</h3>
					<p><b>Our self-driving cars are designed to navigate safely through city streets.</b><br>
					They have sensors designed to detect objects as far as two football fields away in all directions, including pedestrians, cyclists and vehicles—or even fluttering plastic shopping bags and rogue birds. The software processes all the information to help the car safely navigate the road without getting tired or distracted.
					</p>
				</div>

				<div class="col-lg-4 col-lg-offset-1 desc">
					<h3>Student Resume</h3>
					<br>
					<h5><b>Student Name: </b> Mahmoud Ahmed</h5>
					<h5><b>Course: </b>Bachelors of Software Engineering</h5>
					<h5><b>Project Description: </b></h5>
					<p class="tm">The car processes both map and sensor information to determine where it is in the world. Our car knows what street it's on and which lane it's in.
					<br>
					Sensors help detect objects all around us. The software 	classifies objects based on their size, shape and movement pattern. It detects a cyclist and a pedestrian in this case.
					</p>
					<p><a href="http://www.google.com/selfdrivingcar/how/"><i class="fa fa-link"></i> Visit Site</a></p>
				</div>
			</div><!--row-->
		</div><!--container-->
	</div><!--dg-->

	<!-- SINGLE PROJECT STANDOUT IMAGE (optional) -->
	<div id="sp-standout"></div>	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>More Information</h1>
				<ul class="process effect-2" id="process">
					<li><img src="assets/img/sp/p01.png"></li>
					<li><img src="assets/img/sp/p02.png"></li>
					<li><img src="assets/img/sp/p04.png"></li>
					<li><img src="assets/img/sp/p03.png"></li>
				</ul>
			</div><!-- col-lg-8 -->
		</div><!-- row -->
	</div><!-- container -->

	<!-- Back us -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Help Make it Happen!</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Contribute to the project</p>
					<p><button type="button" class="btn btn-green btn-lg">Contribute Now</button></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
	<script src="assets/js/masonry.pkgd.min.js"></script>
	<script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/classie.js"></script>
	<script src="assets/js/AnimOnScroll.js"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'process' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
